.container {
    position: relative;
    text-align: center;
    color: white;

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leftAlign, .midAlign, .rightAlign{
   display:inline-block;
   position:relative;
   width:calc(100% / 3);
   
#foodarname {
  color: blue;
  background: red;
}

#vertalign {
  vertical-align: top;
}

#floatleft {
  float: left;
}

#floatright {
  float: right;
}

#inlineBlock {
  display: inline-block;
}

hr { width:100%; height:1px; background: #fff }

h1 {
  color: green;
}

p {
  background: blue;
}

input {
  padding: 1em;
}

a:hover {
  background-color: blue;
}

/* three inline boxes for request form */

body {
    text-align: center;
}


form {
    font-size: 0; /*fix white space*/
}
form > section {
    font-size: 16px;
    display: inline-block;
    width: 250px;
    border: 1px outset black;
    padding: 30px;
}
